/*-----------------------------------------------------------------------------------

    Template Name: Your template name 
    Template URI: http://bootexperts.com
    Description: This is html5 template
    Author: BootExperts
    Author URI: http://bootexperts.com
    Version: 1.0
    
-----------------------------------------------------------------------------------*/

/*----------------------------------------
    
    CSS INDEX
    ===================
    
    
    1.  Theme default CSS
	2. header start
	3. slider-area start
	4. banner area start
	5. product area start
	6. New arrivals area start
	7. tab area start
	8. testmonial area start
	9. Newsletter-area start
	10. blog-area start
	11. footer--area start	
	12. new-product-area start
	13.home3 header area start
	14. static-home3-top-area start
	15. Our History area start start
	16.work and store area start
	17.home3-test-area area start
	18. home3-blog-area area start
	19. Exclusive Brands area start
	20. home5 banner area  start
	21. home5 product-catagoris-area  start
	22. home6 header area start
	23. Drinks area start
	24. home6-new-arrivals-area start
	26. categories-area
	27.	simple product style here
	28.	blog style here
	29.	blog-detals style here
	30. contact style here
	31. 404 style here
	32. about-area start
	33. my account style here 
	34. chechout style here
	35. cart style here 
	36. wishlist style here 
--------------------------------------*/

/*---------1. Theme default CSS start ---------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two:400,400i,700,700i');
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.clear:before,
.clear:after {content: " ";display: table;}
.clear:after {clear: both;}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
body {
  background: #ffffff;
  color: #444;
  font-family: "Roboto",sans-serif;
  font-style: normal;
  line-height:1.53846;
}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
p {margin:0 0 10px;}
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-bottom: 10px;
  margin-top: 0px;
}
a {transition: all 0.3s ease 0s;text-decoration:none; color:#4c4c4c}
a:hover {color: #98ab3f;text-decoration: none;}
a:active, a:hover, a:focus { outline: none;text-decoration:none;}
ul{list-style: outside none none;margin: 0;padding: 0}

.mt-40{margin-top:40px;}
.mt-35{margin-top:35px;}
.mt-60{margin-top:60px;}
.mt-30{margin-top:30px;}
.mt-50{margin-top:50px;}
.mt-20{margin-top:20px;}
.mt-25{margin-top:25px;}
.mt-10{margin-top:10px;}
.mt-40{margin-top:40px;}
.mt-50{margin-top:50px;}
.mt-15{margin-top:15px;}
.mt-80{margin-top:80px;}
.mt-90{margin-top:90px;}
.mt-100{margin-top:100px;}

.mb-35{margin-bottom:35px;}
.mb-8{margin-bottom:8px;}
.mb-15{margin-bottom:15px;}
.mb-30{margin-bottom:30px;}
.mb-50{margin-bottom:50px;}
.mb-40{margin-bottom:40px;}
.mb-20{margin-bottom:20px;}
.mb-60{margin-bottom:60px;}
.mb-70{margin-bottom:70px;}
.mb-65{margin-bottom:65px;}
.mb-100{margin-bottom:100px;}
.mb-80{margin-bottom:80px;}

.mtb-100{margin:100px 0px;}
.mtb-150{margin:150px 0px;}
.mtb-50{margin:50px 0px;}
.mtb-40{margin:40px 0px;}
.mtb-35{margin:35px 0px;}
.mtb-30{margin:30px 0px;}
.mtb-15{margin:15px 0px;}
.mtb-25{margin:25px 0px;}
.mtb-20{margin:20px 0px;}
.mtb-10{margin:10px 0px;}
.mtb-60{margin:60px 0px;}

.ptb-35{padding:35px 0px;}
.ptb-25{padding:25px 0px;}
.ptb-30{padding:30px 0px;}
.ptb-50{padding:50px 0px;}
.ptb-20{padding:20px 0px;}
.ptb-15{padding:15px 0px;}
.ptb-100{padding:100px 0px;}
.ptb-140{padding:140px 0px;}

.pt-15{padding-top:15px;}
.pt-30{padding-top:30px;}
.pt-35{padding:35px 0px 2px 0px}
.pt-20{padding-top:20px;}
.pt-90{padding-top:90px;}

.pb-15{padding-bottom:15px;}
.pb-30{padding-bottom:30px;}
.pb-20{padding-bottom:20px;}
.pb-40{padding-bottom:40px;}
.pb-50{padding-bottom:50px;}

.ptl-100{padding:100px 0px 0px 100px;}
.p{padding:15px 10px;}
.plr-55{padding:0px 55px;}

.p-15{padding:15px;}
.p-20{padding:20px;}
.p-50{padding:50px;}
.p-20-15{padding:20px 15px}
.p-30-20{padding:30px 20px}

.bg-1{background:#f6f7fb}
.bg-2{background:#f4f4f4 }
.bg-3{background:#485F27 }
.bg-4{background:#F1F1F1 }
.bg-5{background:#98AB3F }
.bg-fff{background:#fff }

.bg-img-1{background:url(img/bg/1.jpg)no-repeat scroll 50% 50%;}
.bg-img-2{background:url(img/bg/2.jpg)no-repeat scroll 50% 50%/cover;}
.bg-img-3{background:url(img/bg/3.jpg)no-repeat scroll 50% 50%/cover;}
.bg-img-4{background:url(img/bg/4.jpg)no-repeat scroll 0 0;}
.bg-img-5{background:url(img/bg/5.jpg)no-repeat scroll 50% 0/cover;}
.bg-img-6{background:url(img/bg/6.jpg)no-repeat scroll 50% 100%/cover;}
.bg-img-7{background:url(img/bg/7.jpg)no-repeat scroll 50% 100%/cover;}
.bg-img-8{background:url(img/bg/8.jpg)no-repeat scroll 50% 100%/cover;}
.bg-img-9{background:url(img/bg/9.jpg)no-repeat scroll 50% 100%/cover;}
.bg-img-10{background:url(img/bg/10.jpg)no-repeat scroll 50% 50%;}
.bg-img-11{background:url(img/bg/11.jpg)no-repeat scroll 50% 50%/cover;}

.border-2{
  border: 1px solid #98ab3f;
  border-radius: 5px;
}
.border{border: 1px solid #e5e5e5;}
.border-left{border-left: 1px solid #e5e5e5;}
.border-right{border-right: 1px solid #e5e5e5;}
.border-bottom{border-bottom: 1px solid #e5e5e5;}
.border-top{border-top: 1px solid #e5e5e5;}
.cap-dec h3, .cap-title h1 , .cap-dec h1, .cap-title h3, .section-title h2, .new-arrivals-content h1, .news-taitle h3, .news-taitle h2, .our-history h3{
	font-family: "Lobster Two",cursive;
	font-style: italic;
}

a#scrollUp {
  background: #666;
  bottom: 35px;
  height: 40px;
  line-height: 40px;
  right: 12px;
  text-align: center;
  width: 40px;
  color:#fff;
}
a#scrollUp:hover{
	background:#98AB3F
}

/*---------- 2. header start ----------*/
.top-bar p { margin-right: 15px;}
.language-USD ul li {
  display: inline-block;
  margin: 0 5px;
  
}
.language-USD ul li span{
	cursor:pointer;
	color:#252525
}
.language-USD ul li i{margin:0px 5px;}
.language-USD.dropdown ul li > ul{width: 120px;}
.search-box form {
  position: relative;
  display: inline-block;
}
.search-box input {
  background: #ededed none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  height: 30px;
  padding: 0 40px 0 10px;
  width: 220px;
}
.search-box button {
  border: medium none;
  border-radius: 10px;
  color: #000;
  height: 30px;
  position: absolute;
  right: 0;
  width: 40px;
  top: 0;
  background: none;
}
.top-bar {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.top-bar-left.pull-left { margin-right: 15px;}
.dropdown ul li > ul {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 0 5px #999;
  left: 0;
  opacity: 0;
  padding: 10px 15px;
  position: absolute;
  top: 100%;
  transform: scaleY(0);
  transform-origin: 0 0 0;
  transition: all 0.5s ease 0s;
  visibility: hidden;
  width: 200px;
  z-index: 2147483647;
}
.dropdown ul li:hover > ul{
	visibility:visible;
	opacity:1;
	transform:scaleY(1)
}
.mainmenu{}
.mainmenu li {
  display: inline-block;
  position: relative;
}
.mainmenu ul li a {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 20px;
  padding: 10px 20px 10px 0;
  text-transform: uppercase;
}
.mainmenu ul li.active > a{color:#98ab3f}
.mainmenu ul li a  i{font-size:12px;}
.mainmenu ul li > ul li {
  display: block;
}
.mainmenu ul li > ul li a{
	font-weight:400;
	text-transform:capitalize;
}
.mainmenu ul li > ul li a {
	font-size: 13px;
	font-weight: 400;
	padding: 5px 0;
	text-transform: capitalize;
}
.mainmenu ul li .megamenu {
	background: #fff none repeat scroll 0 0;
	box-shadow: 0 0 5px #888;
	left: -295px;
	opacity: 0;
	padding: 30px 30px 40px;
	position: absolute;
	transform: scaleY(0);
	transform-origin: 0 0 0;
	transition: all 0.5s ease 0s;
	visibility: hidden;
	width: 865px;
	z-index: 2147483647;
}
.mainmenu ul li:hover .megamenu{
	opacity:1;
	visibility:visible;
	transform:scaleY(1);
}
.mainmenu ul li .megamenu span{
	width:33.333%;
	float:left;
	padding:0px 10px;
}
.mainmenu ul li .megamenu span a {
  padding: 4px 0;
  background: none;
  font-weight: 400;
  font-size:12px;
}
.mainmenu ul li .megamenu span a.mega-title {
  border-bottom: 1px solid #ddd;
  color: #393939;
  font-weight: 600;
  margin-bottom: 5px;
}
.mainmenu ul li .megamenu{}
.mainmenu ul li .megamenu.megamenu1 {left: -395px;}
.mainmenu ul li .megamenu.megamenu2{left: -485px;}
.maincart-wrap{
	position:relative;
}
.maincart-wrap a {
  color: #b3d236;
  display: block;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}
.maincart-wrap span {
  background: #6d604c none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  height: 20px;
  line-height: 19px;
  position: absolute;
  right: 2px;
  width: 20px;
}
.cart {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #bbb;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
	color: #666;
	display: none;
	margin: 4px 0 0;
	min-width: 390px;
	padding: 25px 20px;
	position: absolute;
	right: -15px;
	top: 68px;
	z-index: 99999999999999999;
}
.cart::before , .cart::after{
	content: "";
	position: absolute;
	right: 7px;
	top: -12px;
	border-style: solid;
}
.cart::before {
  border-color: transparent transparent #000  transparent;
  border-width: 6px;;
}
.cart::after{
	border-color: transparent transparent #fff  transparent;	
	border-width: 6px;
}
.sub-total span.total span {
  font-size: 16px; 
  font-weight: 500;
}
.sub-total span.total strong{font-size:18px}
.cart-btn button{
	background-color: #e3e3e3;
	border: 1px solid #e3e3e3;
	color: #333;
	font-size: 1.4rem;
	font-weight: 700;
	padding: 13px 15px;
	transition: all 0.5s ease-out 0s;
	width: 100%;
	text-transform:uppercase;
	border-radius:25px;
}
.cart-btn button:hover{background:#98AB3F;color:#fff}
.cart-items{
	height:280px;
	overflow:auto;
}
.cart-img {
  margin-right: 25px;
  width: 22%;
}
.cart-item-details a {
  color: #1979c3;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: inline-block;
}
.cart-item-details a:hover{color:#98AB3F}
.cart-item-details span.price {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: 150px;
}
.details-qty span {
  font-weight: 500;
  margin-right: 5px;
}
.details-qty.pull-left {width: 30%;}
.details-qty  input{
	border: 1px solid #c2c2c2;
	color: #444;
	height: 35px;
	width: 50px;
	text-align:center;
}
.details-qty  input[type="number"]{-moz-appearance: textfield;}
.remove-edit ul li {display:inline-block;}
.remove-edit a {
  color: #303051;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  margin-bottom: 0;
  text-align: center;
  width: 35px;
}
.cart .organic-btn a {
  background: #e3e3e3 none repeat scroll 0 0;
  border: 2px solid #e3e3e3;
  border-radius: 0;
  padding: 15px;
  width: 100%;
}

/* header end */
/*------------3. slider-area start-----------------*/
.cap-dec h3, .cap-title h1 , .cap-dec h1, .cap-title h3{
	color: #98ab3f;
	font-size: 35px;
}
.cap-title h1, .cap-dec h1{
	color: #90815b;
	font-size: 60px;
}
.cap-title p {
	color: #6d604c;
	font-size: 20px;
	line-height: 20px;
	margin-bottom:20px;
}
.organic-btn a, .newsletter button {
  border: 2px solid #6d604c;
  border-radius: 30px;
  display: inline-block;
  font-size: 18px;
  padding: 5px 25px;
  text-transform: uppercase;
}
.organic-btn a:hover {
  background: #98AB3F;
  border: 2px solid transparent;
  color: #fff;
}
.nivo-directionNav a {
  background: #98ab3f none repeat scroll 0 0;
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
  height: 80px;
  line-height: 80px;
  padding: 0 10px;
  z-index: 9999;
  bottom:20%;
  opacity:0;
  transition:all .5s;
  visibility:hidden;
}
.slider-area:hover .nivo-directionNav a {
  bottom: 50%;
  opacity: 1;
  visibility: visible;
  transform: translateY(50%);
}
.nivo-directionNav a.nivo-prevNav{left:30px;}
.nivo-directionNav a.nivo-nextNav{right:30px;}
/*------------ slider-area end-----------------*/
/*--------------4. banner area start -------------*/
.single-banner{
	width:50%;
	overflow:hidden;
}
.single-banner a{
	display:block;
	position:relative;
}
.single-banner a:before{
	position:absolute;
	content:"";
	width:100%;
	height:100%;
	background:#000;
	z-index:1111;
	opacity:0;
	transition:all .5s;
}
.single-banner a:hover:before{opacity:.2}
.single-banner a img{
	transform:scale(1);
	transition:all .5s;
}
.single-banner a:hover img{transform:scale(1.02)}
/*-------------- banner area end -------------*/
/*------------- 5. product area start------------- */
.section-title h2 {
  color: #4c4c4c;
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}
.single-product {
  position: relative;
  overflow: hidden;
}
.single-product.home1-single-product {
  overflow: visible;
}
.product-img a{display:block;}
.product-img span.sale, .product-img span.new{
	border-radius: 10px;
	color: #fff;
	font-size: 11px;
	left: 30px;
	line-height: 21px;
	padding: 0 10px;
	position: absolute;
	text-transform: capitalize;
	top: 12px;
	z-index: 3;
}
.product-img span.sale{background: #F3A208;}
.product-img span.new{background: #98AB3F;}
.product-name-review{
	transition:all .5s;
	display:block;
}
.single-product:hover .hidden1{display:none;}
.product-name span{
	display:block;
	color:#888888;
	font-size:12px;
}
.product-name strong{
	text-transform:uppercase;
	margin:5px 0;
	display:block;
	font-size:16px;
}
.product-review ul li{
	color:#F3A208;
	display:inline-block;
}
.product-review ul li:last-child{color:#ddd}
.product-review span{
	font-size:16px;
	margin:5px;
	display:inline-block;
}
.product-review span.special-price {
  color: #98ab3f;
  display: inline-block;
  font-weight: 600;
}
.add-to-cart-area{position:relative}
.add-to-cart{
	position:relative;
	z-index:11;
	display:inline-block;
}
.add-to-cart button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #e2dfdb;
  border-radius: 30px;
  color: #6d604c;
  font-size: 14px;
  font-weight: 700;
  padding: 11px 25px;
  text-transform: uppercase;
  transition:all .5s;
}
.single-product:hover .add-to-cart button, .add-to-cart button:hover, .readmore-btn.work-btn a:hover {
  background: #98ab3f none repeat scroll 0 0;
  color: #fff;
  border-color: #98ab3f;
}
.add-to-links {
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 38px;
  transform: translateX(-50%);
  visibility: hidden;
  width: 100%;
}
.single-product:hover .add-to-links{
	opacity:1;
	visibility:visible;
}
.add-to-links ul li {display:inline-block;}
.add-to-links ul li a {
  border: 1px solid #e2dfdb;
  border-radius: 100%;
  color: #6d604c;
  display: block;
  height: 44px;
  line-height: 43px;
  text-align: center;
  transition: all 0.5s ease 0s;
  width: 45px;
  position: absolute;
  left: 50%;
  top: -1px;
  transform: translateX(-50%);
  right:50%;
}
.single-product:hover .add-to-links ul li a{
	border-color:#98AB3F;
	color:#98AB3F;
}
.single-product:hover .add-to-links ul li:hover a, .shop-product-item-details .add-to-cart ul li:hover a {
	background:#98AB3F;
	color:#fff;
}
.single-product:hover .add-to-links ul li.right a {
  left: auto;
  right: 25px;
}
.single-product:hover .add-to-links ul li.left a {
  left: 70px;
}
.count-down-area{
	background: #fff none repeat scroll 0 0;
	border-radius: 25px;
	box-shadow: 0 11px 11px 3px rgba(222, 223, 226, 0.51);
	display: block;
	opacity: 0;
	position: absolute;
	text-align: center;
	transform: translateY(0px);
	transition: all 0.4s ease 0s;
	width: 100%;	
}
.single-product:hover .count-down-area{
	opacity: 1;
	transform: translateY(16px);
	transition: all 0.7s ease 0s;
}

.timer span {display: inline-block;}
.deal-count {
  background: #fff none repeat scroll 0 0;
  border-radius: 30px;
  box-shadow: 0 0 4px #eee;
  padding: 20px 0;
}
.timer span  p {
  display: inline-block;
  margin-bottom:0px;
}
.timer span.cdown {
	font-size:20px;
	color:#90815b;
	padding:0 5px;
	position:relative;
}
.timer span.cdown::before {
  background: #999 none repeat scroll 0 0;
  content: "";
  height: 15px;
  left: -2px;
  position: absolute;
  top: 10px;
  width: 1px;
}
.timer span.cdown:first-child:before{display:none}
.timer span p {
  color: #999999;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.next-prev-style.owl-carousel .owl-controls .owl-nav div, .home3-test-area .slide a.testimonial-control {
  background: #98ab3f none repeat scroll 0 0;
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
  height: 80px;
  left: 10px;
  line-height: 80px;
  opacity: 0;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease 0s;
}
.next-prev-style.owl-carousel .owl-controls .owl-nav div.owl-next, .home3-test-area .slide a.testimonial-control.right {
  left: auto;
  right: 10px;
}
.next-prev-style.owl-carousel:hover .owl-controls .owl-nav div{opacity:1;}
/*------------- product area end------------- */
/*------------- 6. New arrivals area start------------- */
.new-arrivals-area{min-height:760px;}
.new-arrivals-content{padding-top:130px;}
.new-arrivals-content h3{
	border-bottom: 2px solid #6d604c;
	color: #6d604c;
	display: inline-block;
	font-size: 28px;
	letter-spacing: 5px;
	margin: 0;
}
.new-arrivals-content h1{
	color: #95a83f;
	font-size: /*140px*/100px;
	font-weight: bold;
	line-height: 140px;
}
.new-arrivals-content h2{
	border: 2px solid #6d604c;
	color: #6d604c;
	display: inline-block;
	font-size: 40px;
	font-weight: bold;
	line-height: 45px;
	margin-top: 30px;
	padding: 0 10px;
	text-transform: uppercase;
}
.new-arrivals-content p{
	color: #909090;
	font-size: 20px;
	line-height: 25px;
	margin-top: 30px;
}
.organic-btn.new-arrivals-btn a { padding: 10px 25px;}
.organic-btn.new-arrivals-btn a i.fa, .newsletter button i.fa, .readmore-btn a i.fa{transition:all .5s;}
.organic-btn.new-arrivals-btn a:hover i.fa, .newsletter button:hover i.fa, .readmore-btn a:hover i.fa{padding-left:10px;}
/*------------- New arrivals area end------------- */
/*----------- 7. tab area start ---------------*/
.tab-menu ul li {  display: inline-block;}
.tab-menu ul li a {
	color: #4c4c4c;
	cursor: pointer;
	font-family: "Lobster Two",cursive;
	font-size: 28px;
	font-weight: bold;
	padding: 0 13px;
	text-align: center;
	text-transform: capitalize;
	 position:relative;
}
.tab-menu ul li a::after {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 18px;
  position: absolute;
  width: 75%;
  bottom: -10px;
}
.tab-menu ul li.active a{color:#98AB3F}
.tab-menu ul li.active a:after{background:#98AB3F}
.tab-area .product-title .tab-menu ul li.active a {
  color: #fff;
}
.tab-content > .tab-pane {
  display:block;
  overflow:hidden;
  height:0;
}
.tab-content > .active{
	display:block;
	overflow:visible;
	height:auto;
}
.product-name-review.tab-product-name-review{display:block;}
.tab-area .single-product:hover .add-to-links ul li.right a {
  right: -20px;
  left: auto;
}
.tab-area .single-product:hover .add-to-links ul li.left a {
  left: 25px;
}
/*----------- tab area end ---------------*/
/*----------- 8. testmonial area start ---------------*/
.testimonial, .Newsletter-area{min-height:540px;}
.testimo-slider{width:80%;}
.left{padding-right:0;}
.testimonial{
	width:58.3333%;
}
.test-img a, .test-menu ul li a{
	position:relative;
	display:inline-block;
}
.test-img a img, .test-menu ul li.active a img{
	border: 11px solid #98ab3f;
	border-radius: 100%;
}
.test-img a::before, .test-menu ul li.active a:before {
  border: 8px solid #fff;
  border-radius: 100%;
  content: "";
  height: 86%;
  left: 11px;
  position: absolute;
  top: 11px;
  width: 86%;
  z-index: 1;
}
.test-content{position:relative;}
.test-content::before {
  background: rgba(0, 0, 0, 0) url("img/bg-icon.png") no-repeat scroll 50% 50%;
  content: "";
  height: 50px;
  left: 12px;
  position: absolute;
  top: -26px;
  width: 60px;
}
.test-content p, .test-info span{
	color:#fff;
	font-size:16px;
}
.test-info a{
  color: #98ab3f;
  font-family: "Lobster Two",cursive;
  font-size: 20px;
  text-transform: capitalize;
}
.test-info span{display:block;}
.test-active.next-prev-style.owl-carousel .owl-controls .owl-nav div {
  top: 40%;
}
/*----------- testmonial area end ---------------*/
/* -------------------- 9. Newsletter-area start --------------------*/
.Newsletter-area{width:41.6667%;}
.news-taitle h3, .news-taitle h1, .news-taitle h2{color:#fff}
.news-taitle h3{
	font-size: 30px;
}
.news-taitle h1 {
  font-size: 80px;
  line-height: 65px;
  margin-top: 20px;
  text-transform: uppercase;
}
.news-taitle h2{
	font-size: 50px;
	font-weight: bold;
	margin-top: 0;
}
.newsletter form input {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #fff;
  width: 300px;
  height: 40px;
  padding: 0px 10px;
  color: #fff;
  text-transform: capitalize;
}
.newsletter button {
  border: 0 none;
  margin-top: 30px;
  color: #6d604c;
  transition:all .5s;
}
.newsletter button:hover{background:#6d604c; color:#fff}

.newsletter input::-webkit-input-placeholder {
    /* Chrome */
    color: #fff;
    opacity: 1;
}
.newsletter input::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    opacity: 1;
}
.newsletter.home2-newsletter input::-webkit-input-placeholder {
    /* Chrome */
    color: #999;
    opacity: 1;
}
.newsletter.home2-newsletter input::-moz-placeholder {
    /* Firefox 19+ */
    color: #999;
    opacity: 1;
}

/* --------------------Newsletter-area end --------------------*/
/* -------------------- 10. blog-area start --------------------*/
.blog-wrap{transition:all .5s;}
.blog-wrap:hover{box-shadow:0 0 20px 3px #e1e1e1;}
.blog-img a img{
	transition:all 1s; 
	transform:scale(1);
	width:100%;
}
.blog-img a:hover img{transform:scale(1.1)}
.blog-info {
  padding: 0 10px;
}
.blog-info h3 {
  font-weight: 500;
  margin: 10px 0 15px;
}
.hm-three .blog-info h3 {
  margin: 0px 0 12px;
}
.blog-info h3 a {
  color: #4c4c4c;
  font-family: "Lobster Two",cursive;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
}
.blog-area .readmore-btn {
  padding-bottom: 0px;
}
.blog-content {
  padding: 40px 0;
}
.blog-info h3 a:hover, .readmore-btn a:hover{color:#98AB3F}
.blog-info p {
  color: #888888;
  font-size: 14px;
  line-height: 20px;
}
.readmore-btn {padding-bottom: 40px;}
.readmore-btn a {
  color: #6d604c;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 5px;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
}
.blog-active.owl-carousel .owl-item.active {
  padding: 30px 0;
}
/* --------------------blog-area end --------------------*/
.brand-active {
	border: 1px solid #e5e5e5;
}
.single-brand {
  padding: 2px 0;
}
/* -------------------- 11. footer--area start --------------------*/
/*---------- contuct area start --------------*/
.icon{
	float: left;
	width: 35%;
	color: #90815b;
}
.icon i{
	font-size: 30px;
	float: left;
	padding-right: 10px;
}
.icon span{
	display: block;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
}
.text {
	color: #4c4c4c;
	float: left;
	font-size: 30px;
	line-height: 25px;
	width: 65%;
}
.text p {
  font-size: 18px;
  margin-bottom: 0;
}
/*---------- contuct area end --------------*/
/*---------- footer menu area start --------------*/
.footer-medil-area{
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
}
.footer-static-title h3{
	color: #333;
	font-size: 16px;
	font-weight: bold;
}
.footer-menu ul li{
	line-height: 30px;
	margin-bottom: 0;
	position: relative;
	z-index:111;
}
.footer-menu ul li:after{
	background-color: #f5f5f5;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: width 0.5s ease 0s;
	width: 0;
}
.footer-menu ul li:hover:after{width:100%}
.footer-menu ul li a{
	color: #888888;
	display:block;
	position:relative;
	z-index:1111;
	transition:all .5s;
}
.footer-menu ul li:hover a{
	color: #98ab3f;
	padding-left: 15px;
}
/*---------- footer menu area end --------------*/
/* --------------------footer--area end --------------------*/
/*----------------------------------------
			home page two style here 
 -------------------------------------------*/
.home2-slider-area .nivo-caption {
  top: 70%;
}
.single-banner.home2-single-banner{width:100%;}
/*---------- 12. new-product-area start ----------*/
.product-img.home2-product-img {width: 35%;}
.product-item-details.home2-product-item-details{width: 60%;}
.socialicon ul li {
	display:inline-block;
	margin:0px 5px;
}
.socialicon ul li a {
	color: #6d604c;
	font-size: 28px;
	line-height: 33px;
}
.socialicon ul li a:hover{color:#98AB3F}
.newsletter  form {display: inline-block;}
.home2-newsletter span{
	color: #4c4c4c;
	font-size: 24px;
	padding-top: 5px;
}
.home2-newsletter.newsletter {
	padding: 55px 0 55px 30px;
	position: relative;
}
.home2-newsletter.newsletter::before {
  background: #ddd none repeat scroll 0 0;
  content: "";
  height: 30px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
}
.home2-newsletter.newsletter form input {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #dbdbdb;
  color: #555;
  height: 45px;
  margin-left: 15px;
}
.home2-newsletter.newsletter form button {
  border: 2px solid #98ab3f;
  margin-top: 0;
  height: 45px;
  margin-left: 20px;
}
.home2-newsletter.newsletter form button:hover{border:2px solid transparent}

.socialicon {
  padding: 60px 0 25px;
}


/*---------- new-product-area end ----------*/

/*----------------------------------------
			home page Three style here 
 -------------------------------------------*/
/*-------------------13.home3 header area start ----------------------------*/
.top-sale p{
	display:inline-block;
	margin-bottom:0px;
	color:#4c4c4c;
}
.home3-header-top-area{position:relative;}
.cart-area.home3-cart-area {
  background: #98ab3f none repeat scroll 0 0;
  border-radius: 30px;
  height: 45px;
  position: absolute;
  right: 15px;
  top: 14px;
  width: 100px;
}
.home3-cart-area .maincart-wrap a {
  color: #fff;
  margin-top: 0;
}
.home3-cart-area .maincart-wrap span {
  right: 10px;
  top: 6px;
}
.home3-cart-area .cart {
  right: 0px;
  top: 50px;
}
.language-USD.dropdown.pull-left.home3-language-USD ul {left: 0;}
.mainmenu.home3-mainmenu ul li .megamenu span a,.mainmenu.home3-mainmenu ul li > ul {
  text-align: left;
}
.mainmenu ul li .megamenu.home3-megamenu-left {left: -100px;}
.mainmenu ul li .megamenu.home3-megamenu-right {
  left: -200px;
  width: 585px;
}
.mainmenu ul li .megamenu.home3-megamenu-right span{width:50%;}
/*-------------------  home3 header area end ----------------------------*/
.home3-slider-area .nivo-directionNav a {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 100%;
  color: #888;
  height: 85px;
  line-height: 85px;
  text-align: center;
  width: 85px;
}
.home3-slider-area .nivo-directionNav a:hover{
	background:#98AB3F;
	color:#fff;
}
/*------------------- 14. static-home3-top-area start ----------------------------*/
.static-content{
	padding:15px 0px 15px 40px;
}
.static-content i{
	color: #98ab3f;
	font-size: 28px;
	padding-right: 15px;
	float:left;
}
.static-content  p {
  line-height: 28px;
  margin-bottom: 0;
}
/*-------------------  static-home3-top-area end ----------------------------*/
/*-------------------15. Our History area start start ----------------------------*/
.our-history-area {min-height: 675px;}
/*.our-history { padding:120px 120px 0px 50px;}*/
.our-history { padding:50px 0px 0px 50px;}
.our-history h3{
	color: #4c4c4c;
	font-size: 35px;
	text-transform: capitalize;
}
.our-history h4{
	color: #888888;
	font-size: 20px;
	font-weight: normal;
	padding-bottom: 20px;
	padding-top: 35px;
}
.our-history p{
  color: #888;
  font-size: 16px;
}
.our-history .readmore-btn, .our-history .readmore-btn a {padding: 0;}
/*-------------------  Our History area start  end ----------------------------*/
/*-------------------16.work and store area start ----------------------------*/
.work-area{padding:0px 30px;}
.work-wrap {
  border: 1px solid #e5e5e5;
  height: 435px;
  position:relative;
}
.work-wrap:after, .work-wrap:before{
	position:absolute;
	content:"";
	background:#fff;
	left:0;
	top:0;
	transition:all .5s;
}
.work-wrap:after{
	width:30px;
	height:1px;
}
.work-wrap:before{
	width:1px;
	height:30px;
}
.work-wrap:hover:after, .single-work:hover:after{width:100%;}
.work-wrap:hover:before, .single-work:hover:before{height:100%;}
.single-work{position:relative;height: 435px;}
.single-work::after, .single-work::before {
  background: #fff none repeat scroll 0 0;
  bottom: 2px;
  content: "";
  position: absolute;
  right: 0;
  transition: all 0.5s ease 0s;
}
.single-work:after{
	width:30px;
	height:1px;	
}
.single-work:before{
	height:30px;
	width:1px;
}
.work-info {
  color: #fff;
  padding: 100px 35px 73px;
  /*ADDED*/
  font-size: 18px;
}
.work-info h3{
	color: #fff;
	display: inline-block;
	font-family: "Lobster Two",cursive;
	/*font-size: 24px;*/
  font-size: 30px;
	margin-bottom: 30px;
	padding-bottom: 15px;
	position: relative;
}
.work-info h3:before{
	position:absolute;
	content:"";
	width:80px;
	height:2px;
	background:#fff;
	bottom:0;
	left:50%;
	transform:translateX(-50%);
}
.work-info p {
  line-height: 20px;
  margin-bottom: 0;
}
.readmore-btn.work-btn a {
  border: 1px solid #90815b;
  border-radius: 30px;
  color: #90815b;
  padding: 11px 25px;
  display: inline-block;
}
.readmore-btn.work-btn a:hover{border:1px solid #98AB3F;}
/*-------------------  work and store area end ----------------------------*/
/*-------------------17.home3-test-area area start ----------------------------*/
.home3-test-area{
	padding:100px 0px;
	min-height:600px;
}
.home3-single-test .test-content p, .home3-single-test .test-info span {
  color: #888888;
  font-size: 16px;
}
.home3-single-test .test-content{padding:0px 150px;}
.home3-single-test .test-content::before {
  background: rgba(0, 0, 0, 0) url("img/bg-icon-2.png") no-repeat scroll 50% 50%;
  left: 75px;
}
.home3-test-area .carousel-indicators {
  margin: 0 auto;
  position: inherit;
}
.home3-test-area .carousel-indicators .active {
  background-color: #fff;
  height: 128px;
  margin: 0;
  width: 128px;
}
.home3-test-area .carousel-indicators li {
	background-color: rgba(0, 0, 0, 0);
	border: 0 none;
	border-radius: 100%;
	cursor: pointer;
	display: inline-block;
	height: 128px;
	margin: 1px;
	text-indent: 0;
	width: 120px;
	position: relative;
	transform: scale3d(0.8, 0.8, 0.8);
	transition: all 0.5s ease-in-out 0s;
}
.home3-test-area .carousel-indicators li.active{
	display: inline-block;
	position: relative;
	transform: scale3d(1, 1, 1);
}
.home3-test-area .carousel-indicators li.active img{
	border: 11px solid #98ab3f;
	border-radius: 100%;
}
.home3-test-area .carousel-indicators li.active::before {
  border: 8px solid #fff;
  border-radius: 100%;
  content: "";
  height: 86%;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 85%;
  z-index: 1;
}
.home3-test-area .slide a.testimonial-control{opacity:1;}
.home3-test-area .carousel-indicators li img{
	width:100%;
	border-radius:100%;
}
.featureproduct-slider-active2 .col-md-12{
    width: 100%;
}
/*-------------------  home3-test-area area end ----------------------------*/
/*------------------- 18. home3-blog-area area start ----------------------------*/
.blog-meta.pull-left.home3-blog-meta {
  height: 130px;
  padding: 10px 5px;
  width: 18%;
}
.blog-info.home3-blog-info.pull-right {width: 75%;}
.blog-meta.pull-left.home3-blog-meta span.day{
	display:block;
	font-family: "Lobster Two",cursive;
	font-size: 60px;
	font-style: italic;
	line-height: 60px;
}
.blog-meta.home3-blog-meta {
  background: #98AB3F;
  border-radius: 32px;
  height: 115px;
  text-align: center;
  width: 20%;
}
.blog-meta.pull-left.home3-blog-meta span{color:#fff}
.home3-blog-info .readmore-btn, .home3-blog-info .readmore-btn a{padding:0px;}
.home3-blog-active.next-prev-style.owl-carousel .owl-controls .owl-nav div {left: -30px;}
.home3-blog-active.next-prev-style.owl-carousel .owl-controls .owl-nav div.owl-next {
  right: -30px;
  left:auto;
}
.home3-newsletter.home2-newsletter.newsletter::before {display: none;}
.home3-newsletter.newsletter button:hover i.fa {padding-left: 0px;}
/*-------------------  home3-blog-area area end ----------------------------*/

/*----------------------------------------
			home page five style here 
 -------------------------------------------*/
/*-------------------- 19. Exclusive Brands area start -----------------*/
.home6-cart-area .cart {
	right: 15px;
	top: 50px;
}
.home6-cart-area
.home6-cart-area
.home6-cart-area
.middle-text.home5-middle-text .cap-dec h3, .middle-text.home5-middle-text .cap-title h1, .middle-text.home5-middle-text .cap-dec h1, .middle-text.home5-middle-text .cap-title h3 {
  color: #fff;
}
.middle-text.home5-middle-text .cap-title p {
  color: #fff;
  padding: 0px 246px 0px 0px;
}
.slide1-text.slide-five .middle-text.home5-middle-text .cap-title p {
  padding: 0px 0px 0px 0px;
}
.middle-text.home5-middle-text .organic-btn a {
  border: 2px solid #fff;
  color: #fff;
}
.middle-text.home5-middle-text .organic-btn a:hover {
  border-color:#98AB3F;
}
.exclusive-brands-img{position:relative;}
.exclusive-brands-img img {
  width: 100%;
}
.exclusive-brands-text {
  padding-right: 45px;
  position: absolute;
  right: 0;
  top: 20px;
  width: 50%;
}
.exclusive-brands-text small {
  color: #98ab3f;
  display: block;
  margin: 25px 0 15px;
  font-size:14px;
}
.exclusive-brands-text h2 {
  color: #6d604c;
  font-family: Lobster,cursive;
  font-size: 34px;
  line-height: 40px;
}
.exclusive-brands-text p {
  color: #888888;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 25px;
}
.exclusive-brands-text.organic-new-text {
  padding: 0px 0px 0px 45px;
  right: auto;
}
.home5-tab-area.tab-area .single-product:hover .add-to-links ul li.right a {
  right: -21px;
}
.home5-tab-area.tab-area .single-product:hover .add-to-links ul li.left a {
  left: 24px;
}
/*--------------------  Exclusive Brands area start -----------------*/

/*-------------------- 20. home5 banner area  start -----------------*/
.home5-section-title h1{
	color: #6d604c;
	font-size: 36px;
	margin-bottom:25px;
	text-transform: uppercase;
}
.home5-section-title p{
	color:#888;
	text-transform:capitalize;
}
.home5-single-banner.single-banner { width: 100%;}
/*--------------------  home5 banner area  end -----------------*/
/*-------------------- 21. home5 product-catagoris-area  start -----------------*/
.new-product-slider{width:33.33%}
.home5-section-title.section-title h2 {
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 10px;
  position: relative;
}
.home5-section-title.section-title h2:before{
	position:absolute;
	left:0px;
	bottom:0;
	width:100%;
	height:2px;
	background:#98AB3F;
	content:"";
}
.home5-single-product.single-product:hover .count-down-area {
	transform: inherit;
}
.exclusive-brands-btn a {
  background: #98ab3f none repeat scroll 0 0;
  border: 1px solid #98ab3f;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  margin-top: 15px;
  padding: 7px 15px 6px;
  text-transform: uppercase;
    transition: all .3s ease 0s;
}
.exclusive-brands-btn a:hover {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #98ab3f;
  color: #4e4e4e;
}
.home5-count-down-area.count-down-area {
	background: #fff none repeat scroll 0 0;
	box-shadow: none;
	margin-bottom: 40px;
	opacity: 1;
	position: inherit;
	padding: 0px 15px;
}
.home5-count-down-area .deal-count {
	background: #98ab3f none repeat scroll 0 0;
	padding: 5px 0;
}
.home5-count-down-area .timer span.cdown {
	color: #fff;
	font-size: 20px;
	padding: 0 20px;
}
.home5-count-down-area .timer span.cdown::before {
	background: #999 none repeat scroll 0 0;
	height: 35px;
	top: 10px;
}
.home5-count-down-area .timer span p {
	color: #fff;
	display:block;
}
.home5-product-catagoris-area .next-prev-style.owl-carousel .owl-controls .owl-nav div{
  left: 5px;
}
.home5-product-catagoris-area .next-prev-style.owl-carousel .owl-controls .owl-nav div.owl-next{
  right: 5px;
  left:auto;
}
/*--------------------  home5 product-catagoris-area  end -----------------*/

/*----------------------------------------
			home page six style here 
 -------------------------------------------*/
/*------------------ 22. home6 header area start --------------*/
.home6-header-bottom-area {
  padding: 10px 0;
}
.home6-cart-area .maincart-wrap a {
  margin-top: 5px;
}
.home6-mainmenu.mainmenu ul li a {
  color: #fff;
}
.home6-mainmenu.mainmenu ul li a:hover{color:#A0C03C}
.home6-mainmenu.mainmenu ul li > ul li a {
  color: #888;
}
/*------------------ home6 header area end --------------*/
/*------------------ 23. Drinks area start --------------*/
.home6-banner-area{
	width:16.6667%;
}
.drinks-wrap{width:83.3333%}
.home6-single-product .product-name strong {
  font-size: 14px;
}
/*------------------ Drinks area end--------------*/
/*------------------ 24. home6-new-arrivals-area start--------------*/
.home6-new-arrivals-area {min-height:325px;}
.home6-new-arrivals-area .new-arrivals-content {
  padding-top: 50px;
}
.home6-new-arrivals-area .new-arrivals-content h1 {
  font-size: 100px;
  line-height: 100px;
}
/*------------------ home6-new-arrivals-area end--------------*/
.caregory-menu {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #98ab3f;
	left: 0;
	position: absolute;
	text-align: left;
	top: 100%;
	width: 100%;
	z-index: 1000;
}
.caregory-menu ul li {position:relative;}
.caregory-menu ul li a{
	border-bottom: 1px solid #e5e5e5;
	color: #4c4c4c;
	display: block;
	font-size: 15px;
	line-height: 24px;
	padding: 13px 20px 13px 27px;
	text-transform: capitalize;
}
.caregory-menu ul li a i.fa {
	font-size: 12px;
	line-height: 24px;
}
.caregory-menu ul li a:hover{
	background-color: #98ab3f;
	color: #fff;
}
.caregory-menu ul li > ul.category-megamenu{
	left: 120%;
	position: absolute;
	top: 0;
	width:650px;
	z-index: 999999999;
	background:#fff;
	border: 1px solid #e5e5e3;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
	transition:all .5s;
	padding: 20px;
	visibility:hidden;
	opacity:0;
	transform:scaleY(0);
	transform-origin:0 0 0;
}
.caregory-menu ul li > ul.category-megamenu::before {
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 15px;
  content: "";
  left: -30px;
  position: absolute;
  top: 10px;

}
.caregory-menu ul li:hover .category-megamenu{
	left:105%;
	visibility:visible;
	opacity:1;
	transform:scaleY(1);
} 
.caregory-menu ul li .category-megamenu span {
  float: left;
  width: 33.33%;
  padding-right: 15px;
}
.caregory-menu ul li .category-megamenu span a {
  border: medium none;
  padding: 3px 0;
  font-size: 13px;
}
.caregory-menu ul li .category-megamenu span a.caregory-title{
	text-transform:uppercase;
	font-size:14px;
	font-weight:500;
	margin-bottom:5px;
	border-bottom:2px solid #98AB3F;
	position:relative;
}
.caregory-menu ul li .category-megamenu span a.caregory-title::before {
	background: #e75768 none repeat scroll 0 0;
	bottom: -2px;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	width: 40%;
}
.caregory-menu ul li .category-megamenu span a:hover{
	background:transparent;
	color:#98AB3F;
}
.home6-newsletter-area .home6-newsletter.home2-newsletter span{
  color: #fff;
}
.home6-newsletter-area .socialicon ul li a:hover{color:#6D604C}
.category-menu-wrap {
  position: relative;
  margin-top: -75px;
}
.section-title h3{
	background: #98ab3f none repeat scroll 0 0;
	border-radius: 10px 10px 0 0;
	color: #fff;
	display: block;
	font-family: "Lobster Two",cursive;
	font-size: 20px;
	font-weight: bold;
	line-height: 44px;
	margin: 0;
	padding-left: 25px;
	position: relative;
	text-align: left;
	text-transform: capitalize;
}

/*----------------------------- 
		shop page style here 
------------------------------*/
/*------------ 26. categories-area ------------*/
.menu{}
.menu ul li{
	display:inline-block;
	position:relative;
}
.menu ul li::before {
  content: "\f105";
  position: absolute;
  right: 0px;
  top: 1px;
  color:#A0C03C;
  font-family:fontAwesome;
}
.menu ul li:last-child:before{display:none}
.menu ul li a{padding-right:10px;}
.menu ul li.active a{color:#A0C03C}
/*-------------27. shop-tab-area -----------*/
.tab-menu-area{padding:10px 0px;}
.shop-tab-menu ul, .shop-tab-menu ul li, .shop-product-item-details .product-review ul {
  display: inline-block;
}
.shop-tab-menu ul li a {
  border: 1px solid #eee;
  border-radius: 2px;
  color: #7d7d7d;
  display: block;
  line-height: 0;
  padding: 8px;
}
.shop-tab-menu ul li.active a {color: #98AB3F;}
.shop-tab-menu ul li a:hover{background:#DEDEDE;}
.woocommerce-ordering strong{margin-right:10px}
.woocommerce-ordering select {
	border: 1px solid #d7d7d7;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	outline: 0 none;
	height: 32px;
	padding: 0 10px;
}
.woocommerce-ordering a {
  display: inline-block;
  margin-left: 10px;
}
.shop-product-img.product-img {
  float: left;
  width: 35%;
}
.product-item-details.shop-product-item-details {
  float: right;
  /*width: 65%;*/
  width: 63%;
}
.shop-product-item-details .product-review small{
	margin-left:10px;
}
.shop-product-item-details .product-review p{
	margin:20px 0px;
}
.shop-product-item-details .readmore-btn{
	padding:0px;;
}
.shop-product-item-details .readmore-btn a{
	letter-spacing:0px;
	font-weight:400;
	padding-top:0;
	text-transform:capitalize;
}
.shop-product-item-details .readmore-btn a i.fa{margin-left:5px;}
.shop-product-item-details .add-to-cart.text-uppercase li {
  display: inline-block;
  margin: 0 5px;
}
.shop-product-item-details .add-to-cart ul li a{
	border: 1px solid #e2dfdb;
  border-radius: 100%;
  color: #6d604c;
  display: block;
  height: 44px;
  line-height: 43px;
  text-align: center;
  transition: all 0.5s ease 0s;
  width: 45px;
}
.product-title h3 {
  color: #fff;
  font-family: "Lobster Two",cursive !important;
  line-height: 45px;
  padding-left: 25px;
  font-size: 20px;
}
.shop-categories-menu ul li{
	margin-bottom:10px;
}
.shop-categories-menu ul li strong{
	font-size: 15px;
	font-weight: normal;
	text-transform: uppercase;
	color:#444;
}
.shop-categories-menu ul li a {
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  display: block;
}
.shop-categories-menu ul li a i.fa{
	display: block;
	height: 20px;
	width: 40px;
	line-height: 20px;
	text-align: right;
}
.shop-categories-menu ul li > ul{
	display:none;
	margin-top:10px;
}
.compare-menu p {
  margin-bottom: 10px;
  margin-left: 20px;
}
.pull-right.compare.text-uppercase {
  background: #98AB3F;
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px;
}
.filter-by-price p {
  bottom: -64px;
  display: inline-block;
  left: 134px;
  position: relative;
}
.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content {
  margin-bottom: 20px;
}
.ui-slider-horizontal {
  height: 5px;
}
.ui-slider-range.ui-corner-all.ui-widget-header {
  background: #959595 none repeat scroll 0 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background: #98AB3F;
  border: 1px solid #98AB3F;
}
.ui-slider .ui-slider-handle {
  cursor: e-resize;
  height: 12px;
  top: -5px;
  width: 12px;
}
.filter-by-price p {
  bottom: -60px;
  display: inline-block;
  left: 114px;
  position: relative;
  color:#444;
}
.filter-by-price input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  width: 83px;
}
.simple-product-content.product-content del, .simple-product-form form input, .simple-product-tab-menu ul li a, .search-box form select#select, .cap-readmore a, .filter-by-price input, .media-info .reply-btn a, .protfolio-menu li {
  font-weight: 500;
}
.filter button {
  background: #2f2f2f none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 400;
  padding: 5px 20px;
  text-transform: uppercase;
  transition:all .5s;
}
.filter button:hover{
	background:#98AB3F;
}
.shop-new-product-wrap .product-name strong {
  font-size: 14px;
  font-weight: 500;
}
.single-banner.home2-single-banner img {
  width: 100%;
}
.shop-new-product-wrap .product-item-details.home2-product-item-details {
  width: 65%;
}
.woocommerce-pagination ul {
  margin-top: 10px;
}
.woocommerce-pagination ul li {
	display:inline-block;
}
.woocommerce-pagination ul li {
  display: inline-block;
  padding: 0 6px;
}
/* -------------------------------------------
		27.	simple product style here 
------------------------------------------------*/
.symple-product h3{
	margin-bottom:10px;
	font-weight:400;
	text-transform:capitalize;
}
.simple-product-review.product-review ul {
  display: inline-block;
  margin:0px  5px 10px 0px;
}
.select-title {
  width: 15%;
}
.select-title strong{
	color:#000;
	text-transform:capitalize;
}
.select-option {
  width: 85%;
}
.select-option select {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #eee;
  padding: 3px 10px;
  width: 100%;
}
.simple-product-form form input {
  margin-right: 10px;
  padding-left: 12px;
  width: 60px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #ddd;
}
.single-product-tab img{
	width:100%;
}
.single-img.active a{
  border: 1px solid red;
  display: block;
}
.simple-product-tab-menu ul li {
  float: left;
}
.simple-product-tab-menu ul li a {
  background: #fff none repeat scroll 0 0;
  display: block;
  font-size: 14px;
  padding: 10px 15px;
}
.simple-product-tab-menu ul li.active a {
  background: #A0C03C none repeat scroll 0 0;
  color: #fff;
}
.product-description ul {
  list-style: inside;
}
.product-description li {
  margin-bottom: 10px;
}
.review-img {
  float: left;
  width: 5%;
}
.review-area ul li .review-content {
  border: 1px solid #e4e1e3;
  border-radius: 5px;
  margin-left: 60px;
  width: 90%;
}
.review-area ul li.review-1 .review-content {
  width: 45%;
}
/*---------------------------------------------
			28.	blog style here 
 ------------------------------------------*/
.search form{
	position:relative;
}
.search form input{
	width:100%;
	border:1px solid #ddd;
	height:35px;
	padding-left:5px;
	border-radius:3px;
}
.search form button{
	position:absolute;
	height:35px;
	width:35px;
	background:transparent;
	border:none;
	top:0;
	right:0;
}
/* -------------- comment-area----------------*/
.comment-img{ 
	width: 50px;
	border:1px solid transparent;
	height:50px;
 }
.comment-img:hover{border-color:#98AB3F}
.comment-info { margin-left: 60px;}
.comment-info h6 {
  font-weight: 700;
  margin: 0;
}
.comment-info p {
  line-height: 20px;
  margin-bottom: 0;
}
.comment-info span{display:block;}
.comment-info span a{color:#98AB3F; font-size:11px}
.Meta-area .shop-categories-menu span{cursor:help;}
/*----------------------------------------
		29.	blog-detals style here
----------------------------------------- */
.blog-wrapper {
    padding: 15px 15px 20px;
}
.blog-img.single-blog-img img {
  width: 100%;
}
.date-post {
  border: 1px solid #98AB3F;
  height: 60px;
  left: 50px;
  position: absolute;
  text-align: center;
  top: 34px;
  width: 50px;
  padding:0px 10px;
}
.date-post span{
	display:block;
	line-height:12px;
	color:#ddd;
}
.date-post span.month {
  border-bottom: 1px solid #98AB3F;
  font-weight: 600;
  margin-bottom: 4px;
  margin-top: 10px;
  padding-bottom: 3px;
  letter-spacing:1px;
}
.date-post span.day {
  font-size: 20px;
  line-height: 25px;
}
.single-blog-content.blog-content > h3 {
  line-height: 11px;
  margin-bottom: 20px;
}
.single-blog-content.blog-content p {
  margin-bottom: 30px;
  margin-top: 10px;
}
.category i, .entry-counter i {
  margin-right: 10px;
  color: #98AB3F;
}
.single-blog-content .detals {
  border-left:3px solid #98AB3F;
}
.single-blog-content .detals p {
  font-size: 15px;
  font-style: italic;
  margin:0px;
}
.category span{color:#000}
.category a{text-transform:capitalize}
.entry-counter span{margin-right:15px}
.single-blog-form h3.single-blog-title {
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.message-wrapper form span, .form-info form span {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.message-wrapper form textarea{
	width:100%;
	padding-left:10px;
	height:200px
}
.form-info form input, .contact-form input, .review-form input, .account-form input{
	width:100%;
	height:35px;
	border:1px solid #ebebeb;
	margin-bottom:30px;
	padding-left:10px;
}
.single-blog-btn input {
  background: #2f2f2f none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  color: #fff;
  padding: 5px 15px;
  text-transform: uppercase;
  font-weight: 500;
  transition:all .5s;
}
.single-blog-btn input:hover{background:#98AB3F}
/*-----------------------------------
		30. contact style here 
 -------------------------------*/
#googleMap{height:450px;}
.contuct-title h2 {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  font-size: 25px;
  margin-bottom: 15px;
}
.contact-form input {
	margin-bottom:10px;
}
.contact-form span {
  display: block;
  font-size: 11px;
  line-height: 30px;
}
.contact-form input{margin-bottom:10px}
.contact-form textarea, .review-form  textarea{
	width:100%;
	height:95px;
	border:1px solid #ebebeb;
	margin-bottom:15px;
	padding-left:10px;
}
.contact-form button, .review-form  button, .login-button button, .coupon input, .button.cursor-not {
  background: #2f2f2f none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  line-height: 25px;
  padding: 5px 15px;
  text-transform: uppercase;
  transition:all .5s;
}
.login-button button:hover, .contact-form button:hover, .review-form  button:hover, .coupon input:hover, .button.cursor-not:hover {
  background: #A0C03C;
}

/*----------------------------------------
			31. 404 style here 
 ----------------------------------------*/
.page-not-found h1 {
  color: #fff;
  font-size: 150px;
  letter-spacing: 15px;
  line-height: 150px;
}
.page-not-found h2 {color: #fff;}
.page-not-found p{
	color:#fff;
	margin:30px 0px 25px 0px;
}
.input-src form {
  position: relative;
  width: 50%;
  margin: auto;
}
.input-src input {
  height: 35px;
  padding-left: 10px;
  padding-right: 80px;
  width: 100%;
  border:1px solid #ddd;
}
.input-src button {
  border: 1px solid #ddd;
  height: 35px;
  padding: 0 15px;
  position: absolute;
  right: 0;
  top: 0;
}
/*--------------------------------------------
				32. about-area start
 --------------------------------------------*/

/********* ADDED ************/
div.about-area a {
  transition: all 0.3s ease 0s;
  text-decoration:none; 
  color:#090060;
}

div.about-area a:hover {color: #98ab3f;text-decoration: none;}
/********** END *************/
.about-heading h1 {
  color: #010101;
  font-size: 40px;
  text-align: center;
}
.about-title h2, .team-title h2, .skill-title h2, .account-heading h2{
	font-weight:400;
	font-family: "Lobster Two",cursive;
}
.about-img, .about-img-3D{
	position:relative;
	z-index:111111111;
}
.about-img img{width:100%}
.about-img-3D::before, .about-img-3D::after {
  bottom: 20px;
  box-shadow: 0 11px 10px #000;
  content: "";
  height: 30%;
  opacity: 0.5;
  position: absolute;
  width: 50%;
  z-index: -111111111;
}
.about-img-3D::after {
  right: 0;
  transform: skewY(8deg);
}
.about-img-3D::before {
  left: 3px;
  transform: skewY(-8deg);
}
/*--------- team-area ----------*/
.team-wrapper{border-bottom:2px solid #1BB2C0}
.team-title h2{
	border-bottom:1px solid #000;
	padding:5px;
}
.skill-title h2{color:#444;}
.progress {
  background-color: #f7f7f7;
  height: 35px;
  margin-bottom:10px;
}
.progress-bar {
  background-color: #DA4F49;
  line-height:35px;
  text-align:left;
  padding-left:10px;
}
.progress-bar-1{
	width: 90%;
}
.progress-bar-2{
	width: 80%;
	background:#414141;
}
.progress-bar-3{
	width: 75%;
	background:#0074CC;
}
.progress-bar-4{
	width: 70%;
	background:#FAA732;
}
.progress-bar-5{
	width: 90%;
	background:#8D6DC4;
}
/*---------------------------- about-area end----------------*/
/*-----------------------------------
		33. my account style here 
---------------------------------------*/
.account{
	border:1px solid #d3ced2;
	border-radius:5px;
}
.account-form form{}
.account-form form b{
	margin-bottom:5px;
	display:block;
}
.account-form form b span{color:#FF0000}
.account-form form input{margin-bottom:10px;}
.login-button a{
	display:block;
	margin:10px 0px;
}

/*--------------------------------------
			34. chechout style here 
 ----------------------------------------*/
.returning-customer-area{
	border-top:3px solid #A0C03C;
	border-bottom:3px solid #A0C03C;
}
.returning-customer i {
  color: #a0c03c;
  margin-right: 10px;
}
.returning-customer span{font-weight:400}
.returning-customer span.login-form-click, .returning-customer span.code{
	color:#A0C03C;
	cursor:pointer
}
.login-form{
	border:1px solid #e2e2e2;
	border-radius:3px;
	display:none;
}
.form-row-first {
	width:47%;
	float:left;
}
.form-row-last{
	float:right;
	width:47%;
}
.product-name strong.product-quantity {
  display: inline-block;
  font-size: 11px;
}
.your-order-table{
	padding: 30px 40px 45px;
}
.your-order h3{
	border-bottom: 1px solid #d8d8d8;
	font-size: 30px;
	margin: 0 0 20px;
	padding-bottom: 10px;
	text-transform: uppercase;
	width: 100%;
}
.your-order-table table{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	width: 100%;
}
.your-order-table table th, .your-order-table table td {
	border-bottom: 1px solid #d8d8d8;
	border-right: medium none;
	font-size: 14px;
	padding: 15px 0;
	text-align: center;
}
.your-order-table table th{
	border-top: medium none;
	font-family: Montserrat,Arial,Helvetica,sans-serif;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
	width: 250px;
}
.your-order-table table .shipping ul li input{
	position: relative;
	top: 2px;
}
.your-order-table table .shipping  th{
	vertical-align: top;
}
.your-order-table table .order-total th{
	border-bottom: medium none;
	font-size: 18px;
}
.your-order-table table .order-total td{
	border-bottom: medium none;
}
.your-order-table table tr.cart_item:hover{
	background:#F9F9F9
}
.your-order-table table tr.order-total td span {
	color: #c2a773;
	font-size: 20px;
}
.your-order-table table{}
.payment-method {
    margin-top: 40px;
}
.payment-method .panel {
    box-shadow: none;
}
.payment-method .panel-title > a {
  color: #6f6f6f;
}
.payment-method .panel-default {
    border: medium none;
}
.payment-method .panel-default > .panel-heading {
  background-color: #F6F7FB;
}
.payment-method .panel-body.payment-content {
  background: #F6F7FB none repeat scroll 0 0;
}
.payment-method .panel-img img {
	margin-left: 10px;
	width: 50%;
} 
.order-button-payment{}
.order-button-payment input {
  background: #a0c03c;
  border: medium none;
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  height: 50px;
  margin: 20px 0 0;
  padding: 0;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
  width: 100%;
}
.order-button-payment input:hover{
	background:#000;
}

.login-form.account-form b{display:inline-block}
.account-password, .code-form{display:none;}

.additional-information textarea{
	width:100%;
	border:1px solid #e2e2e2;
	padding:10px;
	height:100px;
}
.checkout-order-area{
	border:1px solid #A0C03C;
	padding: 30px 40px 45px;
}
.order-title{border-bottom:1px solid #A0C03C}
.order_review table{
	width:100%;
	background:#fff
}
.order_review table tr th {
  border-bottom:1px solid #A0C03C;
  font-size: 14px;
  padding: 15px 10px;
  text-transform: uppercase;
}
.order_review table tr td{
	border-bottom:1px solid #A0C03C;
	padding: 20px 28px;
}
.product-total span{
	font-size:16px;
	font-weight:400;
}
.cart-subtotal span, .order-total span {
  color: #A0C03C;
  font-size: 18px;
}
.show-password {
  cursor: pointer;
}
/*------------------------------------------
			35. cart style here 
 ------------------------------------------*/
.table-content table {
	background: #ffffff;
	border:1px solid #e5e5e5;
	width: 100%;
}
.table-content table th {
	font-weight: 700;
	padding: 20px 10px;
	text-transform: uppercase;
}
.table-content table th, .table-content table td {
  border-bottom: 1px solid #d6d4d4;
  border-right: 1px solid #d6d4d4;
}
.table-content table td {padding: 20px 25px;}
.product-thumbnail img {width: 60px;}
.product-remove a.remove {
  border-radius: 50%;
  color: #ff0000;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 2px 10px;
}
.product-remove a.remove:hover{background:#ff0000;color:#fff}
.amounte, .sub-total {
  color: #a0c03c;
  font-size: 15px;
  font-weight: 700;
}
.product-quantity input {
  width: 40px;
}
.input-text {
  border: 1px solid #e2e2e2;
  height: 35px;
  padding-left: 10px;
  width: 150px;
  margin-right:15px;
  border-radius:3px;
}
.button.cursor-not{cursor: not-allowed;}
/*-----------------------------
		36. wishlist style here 
 ------------------------------*/
.product-thumbnail.product-thumbnail-img {width: 100px;}
.product-quantity span{color:#297e29}




